@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Segoe UI', ui-sans-serif, system-ui, sans-serif;
}

.scanner-preview #reader {
    border: none !important;
}

.scanner-preview #reader video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.scanner-preview #qr-shaded-region,
.scanner-preview #reader__dashboard,
.scanner-preview #reader__header_message {
    display: none !important;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Segoe UI', ui-sans-serif, system-ui, sans-serif;
}
